<nav style="background-color: #293233;" class="navbar navbar-expand-lg fixed-top navbar-dark ">
  <a class="navbar-brand" > <i class="fas fa-coins"></i><b> CryptoCap</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/searchcoin"><i class="fas fa-search"></i> Search Coin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/crytonews"><i class="fas fa-newspaper"></i> Crypto News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event"><i class="far fa-calendar-alt"></i> Upcoming Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="far fa-address-card"></i> About Us</a>
      </li>
    </ul>
    
  </div>
</nav>
<br>
